/*----------navbar css starts-----------*/

.nav-link{
    font-size: 17px;
}

.nav-item{
    padding: 0px 10px;
}
.navbar{
    padding-top: 10px;
}

.navbar-brand{
    margin-right: 40px;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
/*----------navbar css ends-----------*/


.profile-card {
    text-align: center;
}
.profile-card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.card-title {
    margin-top: 10px;
}

/*theme*/

/* Light mode styles (default) */
body {
    background-color: #f8f9fa;
    color: #212529;
}

.navbar {
    background-color: #6c757d;
}

.card {
    background-color: #ffffff;
    color: #212529;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #343a40;
    color: #f8f9fa;
}

body.dark-mode .navbar {
    background-color: #495057;
}

body.dark-mode .card {
    background-color: #495057;
    color: #f8f9fa;
}

body.dark-mode .profile-card img {
    border: 2px solid #f8f9fa; /* Light border for profile images in dark mode */
}

/*--theme--*/