/*----------navbar css starts-----------*/
.nav-link {
    font-size: 17px;
}

.nav-item {
    padding: 0px 10px;
}

.navbar {
    padding-top: 10px;
}

.navbar-brand {
    margin-right: 40px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*----------navbar css ends-----------*/

body {
    background-color: antiquewhite;
}

.card {
    margin-top: 20px;
}

.card-center {
    justify-content: center;
    align-items: center;
}

.container.d-flex {
    padding-top: 10%;
}

.container.d-flex .row {
    width: 100%;
}

.card-center {
    margin: 20px 0;
}
