/*----------navbar css starts-----------*/

.nav-link{
    font-size: 17px;
}

.nav-item{
    padding: 0px 10px;
}
.navbar{
    padding-top: 10px;
}

.navbar-brand{
    margin-right: 40px;
    font-size: 22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
/*----------navbar css ends-----------*/
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.container-flex {
    flex: 1;
}
.hero-section {
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}
.hero-section h1 {
    margin-bottom: 20px;
}
.help-section {
    margin-bottom: 40px;
}
footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    
}